
<div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class="stepsDetailsShow">
          <div id="main">

              Our app goes here.

          </div>
    </div>
  </div>
</div>

<script id="flightReserveTemplate" type="html/template">

    <div>
        here is the flight reservation, flight info
    </div>

    <div>
        <p>here is the seat reservation template</p>


    </div>

</script>

<script id="searchViewTemplate" type="html/template">

    <div>
        <input type="text" placeholder="from" id="from"/>
        <input type="text" placeholder="to" id="to"/>


    </div>
<br/>

    <div>
        <h4>Flight search results</h4>

        <br/>

        <table id="myFlightTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Flight</th>
                    <th>From > to</th>
                    <th>Plane</th>
                </tr>
            </thead>
<tbody>


</tbody>
        </table>
    </div>

</script>
